{{#if (or page.previous page.next)}}
<div class="pagination-container">
  <hr>
  <nav class="pagination">
    {{#with page.previous}}
    <span class="prev"><a href="{{{relativize ./url}}}">{{{./content}}}</a></span>
    {{/with}}
    {{#with page.next}}
    <span class="next"><a href="{{{relativize ./url}}}">{{{./content}}}</a></span>
    {{/with}}
  </nav>
</div>
{{/if}}
