name: Preview Documentation Website
permissions:
  contents: read

on:
  pull_request:
    paths:
      - 'docs/**'
      - 'antora-playbook.yml'
      - 'antora-preview-playbook.yml'
      - 'package.json'
      - 'package-lock.json'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 'lts/*'
          check-latest: true
      - run: npm install
      - run: npm run docs:preview
      - uses: actions/upload-artifact@v6
        with:
          name: docs-preview
          path: build/site
