name: Build & Deploy Versioned Docs

on:
  release:
    types: [published]
  workflow_dispatch:

permissions:
  contents: write

concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          ref: ${{ github.event.release.tag_name || github.ref }}

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: 'lts/*'
          check-latest: true

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: '24'
          cache: gradle

      - name: Generate API reference
        run: ./gradlew dokkaGenerate

      - name: Install docs dependencies
        run: npm install

      - name: Build Antora site
        run: npm run docs:build

      - name: Deploy docs to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: build/site
          cname: tapik.akif.dev
